.App {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.App .container {
    position: absolute;
    width: 100%;
    background-color: #404040;
}

iframe {
    position: relative;
    width: 100%;
    height: 100vh;
}